body {
	font-size: 14px;
    font-family: "PTSansNarrowBold", "Arial", serif;
	color: #000000;
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 30px;
	font-family: "PTSansNarrowBold", "Arial", serif;
	color: #000000;
}
h2 {
	font-size: 24px;
	font-family: "PTSansNarrowBold", "Arial", serif;
	color: #000000;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.container {
	margin: 0 auto;
	width: 940px;
	padding: 0 10px;
}
.logotype {
	min-height: 70px;
	width: 140px;
	float: left;
}
.main_navigation {
	min-height: 70px;
	width: 540px;
	float: left;

}
.user_block {
	min-height: 70px;
	width: 260px;
	float: right;
}
.main_header {
	margin-bottom: 55px;
}
h1 {
	min-height: 35px;

}
.breadcrumbs{
	margin-top: 10px;
	min-height: 35px;
}
.catalog_form {
	float: left;
	min-height: 590px;
	width: 220px;
}
.main_catalog {
	width: 720px;
	float:left;
	font-size: 0px;
}
.item:nth-child(-n+3) {
	vertical-align: top;
	display: inline-block;
	min-height: 285px;
	width: 220px;
	margin-left: 20px;
	font-size: 14px;
}
.item:nth-child(n+4) {
	vertical-align: top;
	display: inline-block;
	min-height: 285px;
	width: 220px;
	margin-top: 20px;
	margin-left: 20px;
	font-size: 14px;
}
.main_footer {
	margin-top: 50px;
	padding-top: 60px;
	padding-bottom: 40px;
}
.footer-contacts {
	min-height: 90px;
	width: 320px;
	float: left;
}
.footer-social {
	min-height: 90px;
	width: 300px;
	float: left;
	margin-left: 60px;
}
.footer-copyright {
	min-height: 90px;
	float: right;
	width: 180px;
}
.paginator {
	margin-top: 40px;
	float: left;
	margin-left: 240px;
	margin-bottom: 50px;
}
.main_navigation_li {
	display: inline-block;
	vertical-align: top;
}
.social {
	padding-right: 10px;
	float: left;
}
.photos {
	width: 460px;
	float: left;
}
.information {
	float: right;
	width: 460px;
}
.photo {
	display: inline-block;
	vertical-align: top;
	margin-right: 15px;
}
.photo:last-child {
	margin-right: 0px;
}
.main_photo {
	width: 460px;
	float: left;
}
.information_about {

}














